## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / JetBrains Rider
.vs/
.idea/
*.sln.iml
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings.user

## Testing & Coverage
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

## NuGet & Packages
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
packages/
!**/packages/build/
project.lock.json
project.assets.json

## Publish / Deployment
publish/
*.azurePubxml
*.pubxml

## Environment & Secrets
.env
*.local.json
.DS_Store
